@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: 0.3s;
}

::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}
::-webkit-scrollbar-track {
    background: #f1f1f100; 
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
textarea {
    font-family: 'Fira Code', monospace;
}